a{
    border: 0.5vh solid white;
    border-radius: 1.5vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    height: 5vh;
    letter-spacing: 0.5vh;
    line-height: 5.5vh;
    text-align: center;
    text-decoration: none;
    margin: 0;
    transition: 1s;
    width: 25vh;
}

a:hover{
    border: 0.5vh solid white;
    background-color: white;
    color: black;
}

.board{
    border: 0.48vh solid white;
    border-radius: 1.5vh;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 60vh;
    transition: 1s;
    width: 60vh;
}

.board div{
    border: 0.5vh solid white;
    height: 19vh;
    transition: 1s;
    width: 19vh;
}

body {
    background-color: black;
    display: grid;
    grid-template-areas: "player1 nav player2"
                         "player1 game player2"
                         "player1 footer player2";
    grid-template-columns: 19.5vw 61vw 19.5vw;
    grid-template-rows: 19.5vh 61vh 19.5vh;
    margin: 0;
}

footer{
    align-items: center;
    display: flex;
    grid-area: footer;
    justify-content: space-around;
}

footer div{
    align-items: center;
    display: flex;
    height: 19.5vh;
    justify-content: space-around;
    width: 60vh;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15vh;
    height: 19vh;
    line-height: 19.5vh;
    margin: 0;
    text-align: center;
    transition: 1s;
    width: 19vh;
}

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5vh;
    transition: 1s;
}

h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
    transition: 1s;
}

nav{
    align-items: center;
    display: flex;
    grid-area: nav;
    justify-content: center;
}

.player1{
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column; 
    grid-area: player1;
    justify-content: center;
    transition: 1s;
}
.player1:hover{
    background-color: red;
}

.player2{
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column; 
    grid-area: player2;
    justify-content: center;
    transition: 1s;
}

.player2:hover{
    background-color: blue;
}

section{
    align-items: center;
    display: flex;
    grid-area: game;
    justify-content: center;
}
